.btn-big {
    display: flex;
    align-items: center;
    gap: 22px;

    width: 100%;
    min-height: 150px;
    padding: 32px 42px;

    background: linear-gradient(145deg, #ce3737, #1c1c1c);
    border-radius: 18px;

    cursor: pointer;
    transition: all 0.35s ease;

    box-shadow:
        0 12px 30px rgba(0, 0, 0, 0.6),
        inset 0 0 0 1px rgba(110, 42, 42, 0.06);
}


.btn-big:hover {
    transform: translateY(-4px) scale(1.01);
    background: linear-gradient(145deg, #161616, #262626);
    box-shadow:
        0 20px 45px rgba(0, 0, 0, 0.8),
        inset 0 0 0 1px rgba(255, 255, 255, 0.12);
}

.btn-big:active {
    transform: scale(0.97);
}

.button-image {
    width: 100px;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(145deg, #1e1e1e, #04e40f);
    border-radius: 16px;

    box-shadow:
        inset 0 0 0 1px rgba(128, 34, 34, 0.08),
        0 6px 18px rgba(0, 0, 0, 0.5);
}

.button-image img {
    width: 80px;
    height: 80px;
}

.button-text {
    font-size: 28px;
    font-weight: 900;
 font-family: "Arial Black", Arial, sans-serif;
}

