body {
    min-height: 100vh;
    background: linear-gradient(
        to bottom right,
        #f5f7fa 0%,  
        #e5e7eb 30%,
        #368f24 65%,
        #232423 100% 
    );
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 10px;
}

#nav {
  
    height: 100vh;
    border: 1px solid #000;
}

#container {
    height: 100vh;
    border: 1px solid #000;
}